@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
  background-color: var(--dark-blue)   
   ;
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

--line:hsl(215,32%,27%);

--dark-blue : hsl(217, 54%, 11%);
--dark-bluee : hsl(216, 50%, 16%);
--dark : hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);

}

.card{
    position: relative;
    width: 450px;
    background-color: var(--dark-bluee);
    color: var(--Soft-blue);
    padding: 25px;
    border-radius: 2%;
    font-weight: 300;
    line-height: 28px;
    margin:50px auto;
}
.card .h-card{
  
    font-size: 22px;
    font-weight: 600;
    color: var(--White);
    line-height: 28px;
    margin: 20px 0 10px 0;
}
.card .h-card:hover{
color: var(--Cyan);
}
.ntf-card{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin: 15px 0;
    border-bottom: 1px solid var(--line);
    padding-bottom: 20px;
}
.time,.price{
    display: flex;
    align-items: center;
}
.time img,.price img{
   margin-right: 5px;
}
.overlay-img{
    background-color: var(--Cyan);
    position: absolute;
   height: 400px;
   width: 400px;
   left: 25px;
   top: 25px; 
   border-radius: 2%;  
   opacity: 0; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.overlay-img:hover{
    opacity: 0.6;
    transition: 1s;
}
.price:first-child{
    color: var(--Cyan);
}
.creator{
    display: flex;
    align-items: center;
}
.creator img{
    width: 50px;
    margin-right: 20px;
    border: 2px solid var(--White);
    border-radius: 100%;
}
span:hover{
    color:var(--Cyan);
}